@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&subset=latin-ext");
body {
  background-color: #34495e;
  color: #ecf0f1;
  font-family: 'Anonymous Pro', monospace; }

nav {
  height: 7vh; }

.navbar-static-top {
  margin-bottom: 0;
  background-color: #34495e;
  border: none; }

.navbar-default .container-fluid .navbar-nav > li > a {
  color: #ecf0f1;
  margin-top: 3.5rem;
  margin-bottom: 0.1rem;
  margin-left: 1.7rem;
  margin-right: 1.9rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 400; }
  .navbar-default .container-fluid .navbar-nav > li > a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease; }
  .navbar-default .container-fluid .navbar-nav > li > a:hover:after {
    width: 100%;
    background: #5cbdaa; }

.jumbotron {
  height: 93vh;
  background-color: #34495e;
  position: relative; }
  .jumbotron #intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .jumbotron #intro h1 small {
      color: #B5EFE4; }

#work h1 {
  text-align: center;
  margin: 20px auto 50px auto;
  padding: 40px 0 0 20px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 44px; }

#work div {
  text-align: center;
  margin: 30px auto; }
  #work div h3 {
    letter-spacing: 1px;
    padding: 10px 50px 20px 50px;
    margin: 0 50px 50px 25px;
    font-size: 24px; }
  #work div div > a > img {
    margin: 0 auto;
    filter: brightness(110%);
    -webkit-box-shadow: 8px 8px 4px 1px #2c3e50;
    -moz-box-shadow: 8px 8px 4px 1px #2c3e50;
    box-shadow: 8px 8px 4px 1px #2c3e50;
    transition: all 0.5s ease;
    border-radius: 3px; }
  #work div div > h3 {
    font-size: 24px;
    margin-top: 5px; }
    #work div div > h3 > a {
      text-decoration: none;
      text-decoration-style: none;
      color: #ecf0f1;
      font-size: 32px; }
      #work div div > h3 > a:hover {
        color: #5cbdaa; }

#technologies h1 {
  text-align: center;
  margin: 25px auto;
  padding: 40px 0 0 20px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 44px; }

#technologies p {
  font-size: 22px;
  letter-spacing: 1px;
  margin: 30px auto;
  text-align: center; }

#technologies > .row > div {
  margin: 65px auto;
  text-align: center; }
  #technologies > .row > div > i {
    font-size: 90px;
    transition: all 0.5s ease; }
    #technologies > .row > div > i:hover {
      color: #5cbdaa; }
  #technologies > .row > div > .svg {
    max-width: 90px;
    max-height: 90px;
    margin: 0 auto; }
    #technologies > .row > div > .svg g#vendor-codewars {
      fill: #fff;
      transition: all 0.5s ease; }
      #technologies > .row > div > .svg g#vendor-codewars:hover {
        fill: #5cbdaa; }

#about h1 {
  text-align: center;
  margin: 20px auto 70px auto;
  padding: 40px 0 0 20px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 44px; }

#about div > img {
  max-height: 400px;
  max-width: 300px;
  border-radius: 15px;
  -webkit-box-shadow: 7px 8px 50px -1px rgba(92, 189, 170, 0.3);
  -moz-box-shadow: 7px 8px 50px -1px rgba(92, 189, 170, 0.3);
  box-shadow: 7px 8px 50px -1px rgba(92, 189, 170, 0.3); }

#about div h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px; }

#about div ul {
  list-style-type: square;
  font-size: 16px; }
  #about div ul li:hover {
    font-size: 18px; }

#contact h1 {
  text-align: center;
  margin: 20px auto 20px auto;
  padding: 10px 0 0 10px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 44px; }

#contact > div {
  margin: 65px auto;
  text-align: center; }
  #contact > div > i {
    font-size: 90px;
    transition: all 0.5s ease;
    color: #5cbdaa; }
    #contact > div > i:hover {
      color: #ecf0f1; }
  #contact > div p {
    font-size: 20px; }

footer {
  height: 50px;
  text-align: center;
  font-size: 14px; }

/*# sourceMappingURL=style.css.map */